*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Arial;

}



body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#0f172a;

}



/* CONTENEDOR */

.login-container{

    width:100%;

    max-width:420px;

    padding:20px;

    text-align:center;

}



/* LOGO */

.logo{

    width:160px;

    display:block;

    margin:0 auto 25px auto;

}



/* FORMULARIO */

.login-form{

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:
    0 20px 40px rgba(0,0,0,.2);

}



h2{

    margin-bottom:25px;

}



/* INPUTS */

input[type="email"],
input[type="password"]{

    width:100%;

    padding:14px;

    margin:10px 0;

    border:1px solid #ddd;

    border-radius:10px;

}



/* RECORDAR */

.remember{

    display:flex;

    gap:8px;

    margin:15px 0;

    font-size:14px;

}



/* BOTON */

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#2563eb;

    color:white;

    cursor:pointer;

    font-size:16px;

}



button:hover{

    transform:translateY(-2px);

}



/* LINK */

a{

    display:block;

    margin-top:20px;

    text-decoration:none;

    color:#2563eb;

}
.password-box{

    position:relative;

}


#togglePassword{

    position:absolute;

    right:15px;

    top:16px;

    cursor:pointer;

    user-select:none;

}


#message{

    margin-top:15px;

    font-size:14px;

}


.back-btn{

    display:inline-block;

    margin-bottom:20px;

    text-decoration:none;

    color:white;

    font-size:16px;

    font-weight:bold;

    transition:.3s;

}



.back-btn:hover{

    transform:translateX(-4px);

}